<div class="container container-small mt-5 ">
  <div class="row">
    <div class="col top">
        <h2 class="text-center my-3">Todo List</h2>
        </div>
     </div>
  <!-- Creates Chore -->
    <div class="row top pl-5 pb-3"> 
      <div class="col pl-5">
      <input [(ngModel)]="todoInput">
      <button class="btn btn-outline-warning" (click)="createTodo()">
      Add Item</button>
  </div>
  </div>
      <!-- Chore posted  -->
<div class="row border-bottom">
      <div  class="container list-group-item list-group-item-warning test">
  <p *ngFor="let chore of todos">
      <!-- {{chore}} -->

          <!-- Edit (pencil icon) -->
          <i class="far fa-edit p-1 " (click) = "editTodo(chore)"></i>
          <!-- Deletes (trashbin icon) -->
          <i class="far fa-trash-alt p-1"(click) = "deleteTodo(chore)"></i>        
           <!-- Completed (checkbox))-->
          <span class="box">
          <input class="form-check-input p-1" type="checkbox" value="" id="defaultCheck1"> 
          <label class="strikethrough">{{chore}}</label>
      </span>
 </p>
 </div>
</div>
</div>